<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.blitzco.distributorapp">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/Theme.DistributorApp">

        <uses-library android:name="org.apache.http.legacy" android:required="false"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />
<!--        <meta-data android:name="com.google.android.geo.API_KEY"-->
<!--            android:value="@string/map_key"/>-->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />


        <activity
            android:name="com.blitzco.distributorapp.Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.blitzco.distributorapp.AgentHome" />
        <activity android:name="com.blitzco.distributorapp.AdminHome" />

        <activity android:name="com.blitzco.distributorapp.ReportGenerator" />

        <activity android:name="com.blitzco.distributorapp.AddProduct" />
        <activity android:name="com.blitzco.distributorapp.AddOrder" />
        <activity android:name="com.blitzco.distributorapp.AddPayment" />
        <activity android:name="com.blitzco.distributorapp.AddRepair" />
        <activity android:name="com.blitzco.distributorapp.AddBrand" />
        <activity android:name="com.blitzco.distributorapp.AddShopRoute"/>
        <activity android:name="com.blitzco.distributorapp.AddUser" />

        <activity android:name="com.blitzco.distributorapp.ViewProduct" />
        <activity android:name="com.blitzco.distributorapp.ViewBrand" />
        <activity android:name="com.blitzco.distributorapp.ViewRepairs" />
        <activity android:name="com.blitzco.distributorapp.ViewShopRoute" />
        <activity android:name="com.blitzco.distributorapp.ViewShops" />
        <activity android:name="com.blitzco.distributorapp.ViewUsers" />

        <activity android:name="com.blitzco.distributorapp.EditBrand" />
        <activity android:name="com.blitzco.distributorapp.EditProduct" />
        <activity android:name="com.blitzco.distributorapp.EditRepair" />
        <activity android:name="com.blitzco.distributorapp.EditShopRoute" />
        <activity android:name="com.blitzco.distributorapp.EditOrder" />

        <activity android:name="com.blitzco.distributorapp.ShopPage" />
        <activity
            android:name="com.blitzco.distributorapp.MapActivity"
            android:exported="true"/>

        <provider
            android:authorities="com.blitzco.distributorapp.provider"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

    </application>

</manifest>